[project]
	description = ARCHIVED- 2022-02-15 at the request of the project\nIssue ID: IT-23624\n\nClamp Dashboard
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-clamp-dashboard-committers
[plugin "its-jira"]
	enabled = true
